@import url('https://fonts.googleapis.com/css?family=Raleway:500,800&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
/**
Core > All
**/
* {
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 16px;
    /* transition: 0.5s ease-in-out; */
}
body {
    /* background:#f9f9f9; */
    background:#fff;
    overflow-x: hidden;
}
h5 {
    font-size: 1rem;
    font-weight: 500;
}
.section {
    padding-top: 0;
    padding-bottom: 0;
}
.row {
    margin-top: 0;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.btn-large{
    height: 75px;
    line-height:75px;
}
.flex-end {
    justify-content: flex-end;
}
.flex-start {
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}
strong {
    font-weight: 700;
}
.indent-0 {
    text-indent: 0 !important;
}
.padding-20-0 {
    padding: 20px 0;
}
.radius-15 {
    border-radius: 15px;
}
.radius-5 { 
    border-radius: 5px;
}
.padding-50 {
    padding:50px;
}
.padding-20 {
    padding: 20px;
}
.padding-25 {
    padding:25px;
}
.m20 {
    margin:20px;
}
.rem-2 {
    font-size: 2rem;
}
.rem1-25 {
    font-size: 1.25rem;
}
.rem1-75 {
    font-size: 1.75rem;
}
.light {
    font-weight: 300;
}
.normal { 
    font-weight: 400;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.m-15 { 
    margin:15px 0;
}
.m-t50 {
    margin-top: 50px;
}
.m-d30 {
    margin-bottom: 30px;
}
.block {
    display:block;
}
.m-auto {
    margin:auto;
}
.rem3{
    font-size:3rem !important;
}
.card {
    box-shadow: 0px 5px 25px -10px rgba(0,0,0,0.25);
    /* box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.25); */
}
.rem09 {
    font-size:0.9rem;
}
.rem08 {
    font-size:0.8rem;
}
.rem085 {
    font-size:0.85rem;
}
.rem095 {
    font-size:0.95rem;
}
.full-width {
    display: block;
    width: 100%;
}
.table { 
    display: table;
}
a.text-gray { 
    color: #667785;
}
.min-200 {
    min-width: 200px;
}
.border-btn {
    background:transparent !important;
    border: 1px solid;
}
.border-flex-btn { 
    border: 1px solid;
    background: transparent;
    color: inherit;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noUi-tooltip {
    display: none;
}
/**
Core > Nav
**/
nav a {
    color: #667785 !important;
}
nav ul a {
    color: #00c883 !important;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
}
nav {
    height: 75px;
    box-shadow: none;
    border: 0px;
}

nav ul a:hover {
     background: none;
}
nav .nav-wrapper {
    padding:3px 50px 0 50px;
}
/**
Core > Footer
**/
.page-footer {
    padding: 50px 0;
    border-top: 1px solid #e1e1e1;
    background: #fff;
    color: #667785;
}
.footer-list-item li  a {
font-size: 0.9rem;
    font-weight: 500;
    color:#667785;
}
footer .copy {
    font-size: 0.8rem;
}
footer .footer-address, footer .footer-contact {
    font-size: 0.9rem;
}
.page-footer > .container > .row {
    margin-bottom: 0;
}

/**
Core > Colors
**/
.green {
    background-color:#04c785 !important;
}
.green-text {
    color:#04c785 !important;
}
.gray-text{
    color: #667785  !important;
}
.btn.gray:hover, .gray {
    background: #667785 !important;
}
  

/**
Home > Filter / Jobs
**/
.bar-green-left {
    background: #04c786;
}
.bar-green-left, .bar-gray-right {
    color:#fff;
    cursor: pointer;
}
.bar-green-left h2, .bar-gray-right h2 {
font-size: 1.25rem;
text-transform: uppercase;
margin: 0;
cursor: pointer;
    padding: 32px;
} 
.bar-gray-right h2 i, .bar-green-left h2 i {
    vertical-align: text-bottom;
}
.bar-gray-right {
    background: #667785;
}
.filtry { 
    padding: 25px;
}
.filtry h5 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
font-size: 2rem;
color: #04c785;
}

/**
Home > Slogan
**/
.slogan-slider {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 100px;
}
.slogan-slider h1, .slogan-slider h6, .slogan-slider h3 {
margin:0;
}
.slogan-slider h1, .slogan-slider h3 {
    font-weight: 700;
}
.slogan-slider h6 {
    text-transform: uppercase;
}
#slider-banner {
    background-image: url('../img/header.jpg');
    width: 100%;
    height: 600px; /*696px;*/
    background-position: top center;
    display: table;
}
/**
Home > Mapa
**/
.col.s12.m12.l6.mapa-box {
    padding: 25px;
    /* background: #eaeaea; */
    overflow: hidden;
}
/**
Home > Ogloszenia
**/
.icon-specjalizacja-ogloszenia {
    background: #04c786;
    border-top-right-radius: 50%;
    width: 75px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 12px 5px;
    text-transform: uppercase;
    text-align: center;
    border-bottom-right-radius: 50%;
}
.btn-floating {
    line-height:18px;
}

/**
Home > Oferty pracy
**/
.profil_detail {
    padding: 25px;
}
.oferta_detail ul:not(.browser-default) > li {
    list-style-type: initial;
}
.oferta_detail li {
    /* list-style-type: initial !important; */
}
.oferta_detail {
    margin:25px 0;
    display:inline-block;
    width:100%;
    /* display: flex; */
}
.address_detail {
    border-right: 1px solid #d4d4d4;
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
}

.main_detail {
    flex-flow: column;
    justify-content: center;
    width:100%;
    align-items: flex-start !important;
}
.address_detail h6 {
        margin-top: 50px;
}
.address_detail p {
    margin: 0;
    font-size: 1rem;
    line-height: normal;
}
.oferta_detail > div {
        flex-wrap: wrap;
    padding: 0px 20px;
}
.oferta_detail > div > div {
        min-height: 150px;
    align-items: center;
    padding: 20px;
      
}
.row.white.oferta_detail {
    padding: 25px;
}
.gray.header_oferta_detail {
    display:flex;
    padding: 0;
    width:100%;
    align-items: center;
}
.header_oferta_detail .border-white {
    min-width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    /* vertical-align: middle; */
    justify-content: center;
}
.min_detail {
        min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}
.gray.header_oferta_detail > .l3 {
    display: none;
    display: flex;
    min-height: 100px;
    height:100%;
    align-items: center;
}

.oferty-pracy {
    padding: 20px 20px 20px 70px;
    height: 100%;
    overflow: auto;
    direction: rtl;
    overflow-x: hidden;
    max-height:600px;
}
@media(max-width:767px) {
    .oferty-pracy { 
        padding: 20px 20px 20px 20px;
    }
}
#map .oferty-pracy {
    max-height:  100% !important;
}
.header_oferta_detail > div > .row {
    display: flex;
    width: 100%;
    align-items:center;
}
 
.ogloszenia-section .oferty-pracy ul.lista {
    padding: 0 20% 0 0px;
}
.ogloszenia-section li p {
    text-indent: 15%;
}
.oferty-pracy .lista .row {
        display: flex;
    align-items: center;
    direction: ltr;
}
.oferty-pracy .lista a {
    color: inherit !important;
    width:100%;
    display: flex;
    align-items: center;
}
.oferty-pracy li .icon-specjalizacja {
    background: #24648d;
}
.oferty-pracy li {
    border-radius: 3px;
    background: #fff;
    display: block;
    box-shadow: 3px;
    min-height: 86px;
    position: relative;
    padding: 15px 15px 15px 10%;
    margin:15px 0;
    border-radius: 5px;
    box-shadow: 0px 5px 10px -8px rgba(0,0,0,0.15);
}
.oferty-pracy h6 {
    font-size: .8rem;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}
.oferty-pracy h3 {
    font-size: 1.25rem;
    margin: 15px 0;
    /* font-family: Nunito, sans-serif; */
    font-weight: 700;
}
.oferty-pracy .oferta-pracy_adres {
    font-size: 0.8rem;
}
.icon-specjalizacja { 
        border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: -22px;
    color: #fff;
    padding: 12px 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85rem;
}
.ogloszenia-section {
    display: table;
    float: none;
    width: 100%;
}.ogloszenia-section h2.title-section {
    padding: 50px 25px 25px 25px;
}
.praca-section  {
    float: none;
    width: 100%;
}
.praca-section > div {
        direction: rtl;
        overflow:auto;
}
.praca-section  > div > div {
direction: ltr;
}
.praca-wynagrodzenie {
    font-weight: 700;
    /* color: #667785; */
    /* font-family: 'Nunito', sans-serif; */
    color:#04c786;
    font-size: 1rem;
}
/**
Home > Menu
**/
nav .sidenav-trigger {
    float: right;
}
.sidenav li {
    width:100%;
}
/**
Mobile
**/
@media(max-width:991px) {
    .more-single {
        display: none;
    }
    .more {
        display: flex;
    }
.praca-section  {
    width: 100%;
}
.praca-section > div {
    float: left !important;
}

    footer {
        text-align: center;
    }
}

@media only screen and (min-width: 993px) {
nav a.sidenav-trigger {
    display: block;
}

.container {
    width: 80%;
}
}

.container {
    max-width: 1440px;
    width: 90%;
}
.title-section {
    font-size: 1.5rem !important;
}
.title-section > * {
    font-size: inherit;
}
.ogloszenia_publikacja, .ogloszenia_lekarz {
    height: 580px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top right !important;
    padding: 100px !important;
    
}
.panel-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
}
.ogloszenia_publikacja {
    background-color: #04c786;
    background-image: url('../img/szukasz_pracownika.jpg');
}
.ogloszenia_lekarz > * {
    position: relative;
    z-index: 1;
}
@media(max-width:991px) {
   .ogloszenia_lekarz {
    position: relative;
    z-index: 1;
    background-color: #667785;
    right: 0;
    z-index: 0;
    background-position: right;
    background-image: url(../img/szukasz_pracy.jpg);
    background-repeat: no-repeat;
}
}
.bold {
    font-weight: 700;
}
.section-faq {
    background-image:url('../img/faq.jpg');
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 445px;
    display: table;
    background-color: #667785;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: inherit;
}
.content_faq_box {
    font-weight: 400;
}
.section-faq > h1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.list-striped li::before {
    background: #667785;
    color:#fff;
    position: absolute;
    left: 0;
    content:" ";
}
div.row.faq-section ol { 
    margin: 0 !important;
    padding: 0  !important;
}
.list-striped li {
    padding: 12px;
    color: #667785;
    font-weight: 700;
    padding: 25px;
    position: relative;
    display: block;
    padding-left: 50px;
    cursor: pointer;
}

.faq_count {
    background: #667886;
    border-radius: 50%;
    color: #fff;
    width: 32px;
    height: 32px;
    position: absolute;
    text-align: center;
    padding: 5px 0;
    /* left: -5px; */
    margin-left: -40px;
}
    
.list-striped li:nth-child(even) {
    background:#ebebeb;
}
  .kontakt-section {
    width: 100%;
    padding: 100px;
}  
.col.s10.m8.l8.white.gray-text.block-contact .chevron-bottom,
.col.s10.m8.l8.gray.white-text.block-contact .chevron-bottom  {
    background: #667785;
    position: absolute;
    width: 100%;
    color: #fff;
    height: 40px;
    padding: 7px 0;
    cursor: pointer;
    left: 0;
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.col.s10.m8.l8.gray.white-text.block-contact .chevron-bottom  {
    background: #fff;
    color: #667785;
}
.section-block-contact .block-contact a {
    color:inherit;
}
.section-block-contact .block-contact {
    min-height: 300px;
}
.section-block-contact h3 {
    font-size: 28px;
}
.kontakt {
    background-color: #eff6f9;
    background-image:url('../img/kontakt_bg_left.jpg');
    background-position: right;
    background-repeat: no-repeat;
}
.icon-radius {
    border-radius: 50%;
    padding: 20px;
}
.block-contact{
    position: relative;
    padding: 35px 20px 75px 20px !important;
    margin: 0 auto;
    float: none !important;
    word-break: break-all;
}
.section-block-contact {
    margin-top: 150px;
}
.kontakt .icon-radius {
    margin-top: -150px;
}
.onas-section {
    padding: 150px;
}

.padding-box {
    padding: 100px;
}
@media(max-width:767px) {
    .onas-section {
        padding: 150px 15px;
    }
    .padding-box {
        padding: 100px 15px;
    }
    .box_banner {
        text-align: center;
    }
    
    .box_banner p {
        max-width: 100% !important;
    }
}
.zarejestruj_box, .zaloguj_box  {
    background-position: center;
    background-size: contain;
    min-height:500px !important;
    position: relative;
    background-repeat: no-repeat;
}
.zarejestruj_box {
    /* background-image: url('../img/konto_zarejestruj.jpg'); */
    color: #00d599;
}
.zaloguj_box {
    /* background-image: url('../img/konto_zaloguj.jpg'); */
 color: #667886;
}
.zarejestruj_box button[type=submit], .zaloguj_box button[type=submit] {
        position: absolute;
    bottom: 10%;
    transform: translateX(-50%);
}
.logowanie .zaloguj_box, .logowanie .zarejestruj_box {
    padding-bottom: 100px;
}
/**
Konto > login 
**/
.konto .account-ux-buttons {
    display: inline-flex;
    justify-content: flex-end;
}

@media(min-width:992px) {
    .more-single {
        display: table;
        clear: both;
        margin: auto;
    }
    .more {
        display: none;
    }
.logowanie {
/* display: flex; */
width:100%;
}
.white.m-50 {
        padding: 50px; 
    text-align: center;
     margin: 150px;
}
}
.more {
    margin:auto;
    display:block;
}
@media(max-width:991px) { 
    .white.m-50 {
        padding: 0px !important;  
    text-align: center;
     margin: 0px !important;
    }
    .konto .account_detail .card.padding-25 {
        border-right: 0px !important;
    }
    .konto .account_detail {
        margin:20px 0;
    }
    .logowanie {
display: block;
width:100%;
}
.konto .account-name {
    text-align: center;
}
.konto .account-ux-buttons {
    justify-content: center;
}
}

.konto .account_detail .card.padding-25 {
    /* border-right: 1px solid #71788d; */
}
input.white-input {
    margin: 10px 0 !important;
    border: 2px solid #fff !important;
    
}
input[type=text],input[type=password], input[type=number], input[type=email], input[type=date] {
    border-radius:7px !important;
    /* text-indent: 25px; */
    text-indent: 5px;
}
input.white-input::placeholder
{
    color: #fff;
}
.no-border {
    border: 0px !important;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height:4rem;
}
.no-shadow {
    box-shadow: none;
}
.btn, .btn-large
.btn:hover, .btn-large:hover {
    box-shadow:none;
    background:inherit;
}
.slideNavContent {
        display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
}
@media(min-width:992px) {
    .praca-section  {
    display: flex;
    /* max-height: 600px;
    flex-flow: row-reverse; */
    }
.ogloszenia_index:before, 
.ogloszenia_index:after  {
    position: absolute;
    width: 50%;
    min-height: 580px;
    content: " ";
}
.ogloszenia_index:before {
    background: #64c886;
    left: 0;
    z-index: -1;
}
.ogloszenia_index:after {
    background-color: #667785;
    right: 0;
    z-index: 0;
    background-position: right;
    background-image: url(../img/szukasz_pracy.jpg);
    background-repeat: no-repeat;
}
}

.ogloszenie-krok1 {
    /* background-image: url(../img/konto_krok1.jpg); */
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}
/** 
Onas
**/
.onas1 { 
    background: url('../img/onas1.jpg');
    height: 450px;
}
.onas2 { 
    background: url('../img/onas2.jpg');
    height: 450px;
}
.select-wrapper .select-dropdown {
    border:1px solid #667785 !important;
}
.steeps li { 
    display: inline-block;
}
li.col.s20.steep:after {
    height: 2px;
    width: 100%;
    content:" ";
    position: absolute;
    background: #667785;
    top: 10px;
}
li.col.s20.steep:before {
    background: #667785;
    width: 20px;
    content: " ";
    border-radius: 50%;
    height: 20px;
    position: absolute;
}
.steeps {
    position: relative;
}
.s20 {
    width:20%;
}
.row .col.s3, .row .col.s20 { 
    position: relative;
}
li.col.s20.steep.current:before {
    border: 5px solid #04c785;
background: #04c785;
    /* border: 5px solid #667785;
    background: #f9f9f9; */
    z-index: 9;
}
.steep-legend {
        display: block;
    margin: 30px 0 0 0;
}
li.col.s20.steep:last-child:after {
    /* content: ""; */
    background: 0;
}
select, option, input, textarea {
    color:#667785;
}
.form-control-area {
    border: 1px solid #667785 !important;
    padding: 20px !important;
    min-height: 120px !important;
    border-radius: 3px !important;
}
.form-control-input::placeholder, textarea::placeholder {
     /* color: #667785 !important; */
     color: #545454 !important;
    opacity: 1;
}
.form-control-input {
    /* border: 1px solid #667785 !important; */
    border: 2px solid #d1dbe4 !important;
    border-radius: 7px !important;
    

}
.ogloszenia_confirmation {
    /* background-image: url(../img/konto_krok5.jpg); */
     background-image: url(../img/krok6_bg.png); 
    background-size: contain;
    background-position: -5% 0%;
    background-repeat: no-repeat;
}
.border-white:hover {
    background: none;
}
.border-white {
    background: none;
    border: 1px solid #fff;
    color: #fff;
}
.box-radius-profil {
    border-top-right-radius: 20px 100px;
    border-bottom-right-radius: 20px 100px;
}
.inline {
    display: inline-block;
}
.inline-list li .icon-specjalizacja {
    text-indent: 0px;
}
.inline-list li {
    display: inline-block;
    padding: 2px 10px;
    margin: 7px;
    position: relative;
    vertical-align: middle;
    text-indent: 25px;
}
.filtry > .collapse {
    height: 275px;
    overflow: hidden;
}
.filtry .inline-list li a {
    display: contents;
    color:inherit;
    text-shadow: none;
}
.filtry .inline-list li.gray a {
    background:#667785;
    font-size: 0.95rem;
    text-transform:lowercase;
}
/* .
{ 
    border: 1px solid #667785 !important;
    color: #667785;
} */
.pointer {
    cursor: pointer;
}
.filtry .inline-list.row li {
    margin: 10px 15px;
        display: flex;
    align-items: center;
    padding-left: 25px;
    max-height: 25px;
    padding: 20px;
}
.filtry .inline-list.row li.active {
        background: #eee !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* .active {
    background:#00c883 !important;
} */
.filtry .inline-list.row {

    padding: 5px 25px;

}
.inline-list li.gray:hover { 
    background: #04c786 !important;
}

.text-left {
    text-align: left;
}
.alert {
    text-align: left;
    color: #667785;
    padding: 10px;
    
}
.alert.alert-info {
        border-left: 7px solid rgb(16, 127, 223);
        border-right: 1px solid rgb(16, 127, 223);
    border-bottom: 1px solid rgb(16, 127, 223);
    border-top: 1px solid rgb(16, 127, 223);
}
.alert.alert-success {
            border-left: 7px solid #65c984;
    border-right: 1px solid #65c984;
    border-bottom: 1px solid #65c984;
    border-top: 1px solid #65c984;
}
.alert.alert-danger {
    border-left: 7px solid #c70404;
    border-right: 1px solid #c70404;
    border-bottom: 1px solid #c70404;
    border-top: 1px solid #c70404;
}
ul.alert li:first-child {
    padding-top: 10px;
}
ul.alert li:last-child {
    padding-bottom: 10px;
}
ul.alert li {
 padding: 0px 15px; 
}
#map {
    height: 100%;
    display: flex;
    position: relative;
    min-height:585px;
}
sup.counterMap {
    position: absolute;
    background: #383d47;
    padding: 10px 10px;
    font-size: 0.75rem;
    margin-top: 0px;
    text-align: center;
    border-radius: 10px;
}
.filtry.white {
    position: relative;
    z-index: 2;
    clear: both;
    /* box-shadow: 0 30px 30px -30px rgba(0,0,0,0.1) */
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    border-radius: 0px !important;
}
.profil_detail > div {
    display: flex;
    margin:25px 0;
    align-items: center;
    justify-content: center;
}
.profil_detail > div > .l3 {
    justify-content: center;
    display: flex;
    align-items: center;
}
.konto .avatar img {
 /* height: 175px;
 border-radius: 50%; */
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color: transparent;
}
.header_oferta_detail .avatar img {
    /* position: absolute; */
      height: 120px;
      border-radius: 50%;
    top: 0;
    z-index: 1;
    position: relative;
}
.header_oferta_detail .avatar  {
        position: absolute;
}
.header_oferta_detail .avatar:before {
    content: " ";
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #f9f9f9;
    z-index: 0;
}
.header_oferta_detail { 
    position: relative;
}
.waves-button-input {
    cursor: pointer;
    color: #fff;
}
.list_header {
    background: #fff !important;
    padding: 0;
    width:auto !important;
    margin: 0 -35px;
}
 
[type="checkbox"] + .white-text:not(.lever):before {
    border-color: #fff;
}
.konto {
    margin: 100px 0;
}
.konto .l3  > .panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
.user_status_off {
    font-size: 3rem;
        position: absolute;
        bottom: 0;
        color: #383d47;
            left: 0;
}
.user_status_on {
    font-size: 3rem;
        left: 0;
        position: absolute;
        bottom: 0;
        color: #65c984;
}
.konto .avatar {
    position: relative;
        margin-top: -50px;
        width: 175px;
height: 175px;
overflow: hidden;
text-align: center;
}
.konto .menu {
        text-align: center;
        margin: 40px 0;
}
.konto .menu li a, .konto .logout a {
    padding: 10px;
    display: block;
    border-bottom: 1px solid #72788d;
    color: #72788d;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
        background: transparent;
}

.konto .logout {
    margin: 20px 0;

}
.konto .logout a {
    border:0px;
}
.fixed_price {
    display: none;
    position: absolute;
    font-size: 32px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.title_menu {
    clear: both;
    font-size: 1rem;
    color: #72788d;
    font-weight: 400;
    display: block;
    border-bottom: 1px solid;
    padding: 5px;
}
.konto .menu li a:hover, .konto .logout a:hover {
    color: #00c883;
}
.logout button {
    border: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-weight: bold;
    color: #72788d;
    cursor: pointer;
    background: none;
}
.konto .l9 .account_detail {
    padding: 50px;
}
.account_detail h3.big { 
    font-weight: bold;
    color: #72788d;
    font-size: 2rem;
}
.account_detail .l3 {
    text-align: right;
}
.title-section {
        margin: 15px 0;
}
/**
    Backoffice
*/
.admin.slideNavContent {
    overflow: scroll;
    top: 0;
    border-top: 3px solid #64c887;
    flex-flow: column;
    padding-top: 25px;
     justify-content: flex-start; 
}
.admin.slideNavContent .collapsible {
    display: flex;
    width: 100%;
}
.admin.sidenav .collapsible li, .admin.sidenav.fixed .collapsible li {
        display: block;
}
.admin .collapsible-header i {
display: inline-flex;
    align-items: center;
    justify-content: center;
}
.nav-wrapper ul li a {
    display: inline-flex;
}
.sidenav .collapsible-body li a, .sidenav.fixed .collapsible-body li a {
    display: flex;
}
.backoffice .card .card-header {
        font-size: 2rem;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    border-left: 10px solid #65c984;
    text-transform: uppercase;
}
.backoffice .btn, .backoffice  .btn-large .btn:hover, .backoffice .btn-large:hover  { 
    background: #65c983;
}
.pagination li.active {
    background-color: #65c982;
    color: #fff;
}
.pagination span.page-link {
    padding: 10px;
}
.backoffice .btn-large{
        width: 100%;
    line-height: 60px;
    height: 60px;
}
.backoffice .btn-large i {
        vertical-align: middle;
}
.backoffice ul.pagination {
    padding: 20px;
    text-align: center;
}
.backoffice .btn-danger, .profil .btn-danger {
        background: #a91212;
}
.backoffice .btn-default, .profil .btn-default {
        background: #eee !important;
    color: #333 !important;
}
.backoffice thead input {
    border-radius: 0px !important;
}
.backoffice table tr td:last-child, .backoffice table tr th:last-child {
    display: inline-flex;
    width: 100%;
}
 .backoffice table tr th:last-child button:last-child
 {
    background: transparent;
    width: 60%;
    color: #000;
    border: 1px solid;
 }
.backoffice table tr td:last-child a {
        width: 100%;
}

.backoffice .btn-secondary {
    display: inline-flex;
    background: #003b84;
    float: right;
    justify-content: baseline;
    height: 50px;
    line-height: 50px;
}
.backoffice i {
    vertical-align: middle;
}
.backoffice .card-body { 
    padding: 15px;
}
@media(max-width:767px) {
    .padding-box {
        padding:100px 0;
    }
    .padding-50 {
        padding:50px 0;
    }
    .min-200, button {
        min-width: 100%;
        width:100%;
    }
    h1 {
        font-size: 3rem;
    }
    .ogloszenia_create button {
        margin: 0;
    }
 
    .header_oferta_detail > div > .row {
            width: 100%;
    display: block;
    padding: 10px;
    }
    .oferta_detail {
        display: block;
        float: left;
        width:100%;
    }
    nav + div.row.flex {
        display:block;
    }
    .konto .l9 .account_detail {
        padding: 50px 0;
    }
    .account_detail .btn, .account_detail button {
            width: 100%;
    }
    .inline {
        display: block;
    }
    .title_menu {
        clear: both;
        width: auto;
    padding: 20px;
    }
    
.gray.header_oferta_detail > .l3  {
        border-radius: 0px;
    }
}
@media(min-width:767px) {
    
.backoffice {
    padding-left: 300px;
}

.backoffice #nav-mobile {
    transform: translateX(0%);
}
}
.backoffice .container > .card {
     margin:50px 0;
}
.flex {
        display: flex;
    width: 100%;
}
@media(min-width:991px) {
    body > nav > div > a.sidenav-trigger {
        display: none !important;
    }
}
.backoffice .first-td {
    width: 75%;
}
.backoffice .btn-third {
        background: #64c887;
    margin: 0 5px;
     display: inline-flex;

    float: right;
    justify-content: baseline;
    height: 50px;
    line-height: 50px;
}
.backoffice .dashboard {
    margin: 50px auto;
}
.backoffice .dashboard .card i {
    font-size: 5rem;
    position: absolute;
    top: 15px;
    right: 20px;
}
.input-field .btn {
    background: #04c785;
    height: 4rem;
    line-height: 4rem;
}
button:focus {
    background:none;
}
a.btn-prime.btn.waves-effect.waves-light {
    background-color: #1d1d59;
}
a.btn i, button.btn i {
    vertical-align: middle;
}
/**
 select2
 */
 .select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    height: 4.125rem;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #26a69a;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #26a69a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    right: 25px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
    position: absolute;

}
.select2-container--default .select2-selection--single, input[type=number] {
        /* border: 1px solid #667785 !important; */
        border: 2px solid #d1dbe4 !important;
        
        margin-bottom: 8px;
        }

        .leaflet-popup span.icon-specjalizacja {
    margin-left: 15px;
}
#map .leaflet-popup .oferty-pracy {
    width: 100%;
    padding: 0;
    overflow: visible;
    margin: 0;
}
#map .leaflet-popup {
    overflow-y: scroll;
     max-height: 300px; 
}
.leaflet-container a {
    color: #000 !important;
}
.leaflet-popup li.row.pointer {
    box-shadow: none;
        border-bottom:1px solid #f1f1f1;
    border-radius: 0px;
}
.leaflet-popup li.row.pointer:last-child {
    border-bottom: 0;
}
.leaflet-popup .oferty-pracy {
direction: inherit;
}
.blank-page {
        font-size: 1rem;
    text-align: center;
    font-weight: 200 !important;
}
.more {
    /* clear:both;
    margin:auto;justify-content: center; */
    max-width: 200px;
}
.hidden {
    display: none;
}
.dgrey {
    background:#667785;
}
.table-div > div {
    padding: 10px !important;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}
.message {
    margin:10px 0;
}
.message a {
    color: #64c887 !important;
    text-transform: lowercase !important;
}
#input-with-keypress-0, #input-with-keypress-1 {
    display: inline-block;
    text-align: center !important;
    height: 30px;
    text-indent: 0;
    border-radius: 0px !important;
    background: #eee;
    vertical-align: middle;
    border: 0;
}
.noUi-connect {
    background: #04c785;
}
#steps-slider {
        margin: 6px 0;
}
.address_detail h6
{
        width: 100%;
}
.content_faq_box {
    display:none;
}
.blog img, .blog-single img {
    max-width: 100%;
}
.blog_image {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 369px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}
.blog-detail {
    margin:15px 0;
}
.blog-detail p {
    margin: 0;
}
.price_filter_slider {
    display:none !important;
}
.leaflet-popup-close-button {
        outline: none;
    font-size: 32px !important;
    right: 25px  !important;
    top: 25px !important;
}
#mapLatLon {
    height: 300px;
}
#search_podmiot::placeholder {
    color:#000;
}
.oferta-pracy_adres .material-icons {
    font-size: 14px;
}
.leaflet-layer {
    filter: grayscale(0.95) brightness(1.05);
}
.box-grey {
    background: linear-gradient(to left, #354651,#657684);
text-align: center;
padding: 0px 25px;
border-radius: 25px;
color: #fff;
text-transform: uppercase;
margin: 25px;
min-height: 225px;
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}
.box-green { 
      background: linear-gradient(to left, #04c686,#009c68);
text-align: center;
min-height: 225px;
padding: 0px 25px;
border-radius: 25px;
color: #fff;
text-transform: uppercase;
margin: 25px;
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}
.home-search { 
    border: 0;
padding: 15px;
display: flex;
border-radius: 10px;
width: 100%;
text-align: center;
justify-content: center;
cursor: pointer;
text-transform: uppercase;
box-shadow: 0px 12px 25px 10px rgba(0,0,0,0.1);
}
.count-offers {
font-size: 4rem;
border: 1px solid;
padding: 5px 10px;
border-radius: 15px;
color: #04c785;
font-weight: bold;
margin: 0;
vertical-align: middle;
display: inline-block;
height: 64px;
}
.home-title {
    margin-left: 50px;
    padding: 0 0 50px 0;
}
@media(max-width:767px) { 
    .home-title {
        margin-left: 0px;
    }
}
.home-search-form { 
    margin-left: 50px;
    max-width: 450px;
}
.row.pointer:hover {
    box-shadow: 0 10px 10px 3px rgba(0,0,0,0.1);
}

.page-footer h4 {
    font-weight: bold;
font-size: 1.5rem;
margin: 25px 0;
}
.page-footer .footer-contact i {
    vertical-align: middle;
}
@media(max-width:991px) {
.page-footer::before, .home-header::before {
    display:none;
}
}
.page-footer::before, .home-header:before {
    content: " ";
    position: absolute;
    background-image: url(../img/home_circle.png);
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}
.home-header {
    position: relative;
    display: flex;
align-content: center;
justify-content: center;
flex-wrap: wrap;
flex-flow: column;
}
.home-header:after {
     content: " ";
    position: absolute;
    background-image: url(../img/home_plus.png);
    width: 60px;
    height: 60px;
    bottom: -100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.page-footer::after {
    content: " ";
    right: 0;
    position: absolute;
    background-image: url(../img/home_disc.png);
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}
@media(min-width:992px) {
     .top-header {
         width:100%;
         display: flex;
     }
}
@media(max-width:991px) { 
.home-header {
    text-align: center;
}
.home-search-form {
    margin: auto;
}
}
.praca-row { 
    background: #fff;
}
.btn.btn-default.outline {
    color: #01a66f;
    border: 1px solid #02ae75;
    border-radius: 5px;
    margin: auto;
    display: table;
    font-weight: bold;
    height: auto;
    padding: 10px 25px;
}
.btn.btn-default.outline:hover {
    box-shadow: 0px 10px 30px;
}
.subtitle-ogloszenie {
    text-align: center;padding: 25px 0;display: block;color: #4bc083;font-size: 1.5rem;
}
.homepage .praca-section {
    max-height: 600px;
    flex-flow: row-reverse;
}
#aplikuj {
    background: #04c785 !important;
    color: #fff;
}

#aplikuj input, #aplikuj textarea {
    background:#fff;
    border: 0px !important;
    border-radius: 3px;
}
.btn-grey-gradient  {
    background: linear-gradient(to right, #657785, #394956)  !important; 
    border-radius: 10px;
    color: #fff !important;

}
#aplikuj .btn.btn-small, .btn-grey-gradient {
    background: linear-gradient(to right, #657785, #394956)  !important; 
    border-radius: 10px;
}
#aplikuj .green.btn.btn-primary {
    background: #fff !important;
    color: #667785;
    border-radius: 10px;
    padding: 10px 25px;
}
.file-path.validate {
    background: transparent !important;
}
.icon-oferta {
    background: #4ec183;
    color: #fff;
    position: absolute;
    border-radius: 50%;
    padding: 15px;
}
.icon-oferta img {
    /* filter: invert(1); */
}
.main_detail h6 {
    font-weight: bold;
    color: #4ec183;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.main_detail {
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.25);
    border-radius: 5px;
    display: inline-block;
}
.ogloszenie_zobacz .col.s12.m12.l6.mapa-box #map{
    height: 500px;
}
.btn-green-gradient {
     background:linear-gradient(to right, #04c685, #009b68) !important; 
      border-radius: 10px;
}
.aplikuj-btn {
    background:linear-gradient(to right, #04c685, #009b68) !important; 
    border-radius: 5px;
padding: 10px 25px;
height: auto;
width: auto;
min-width: 75%;
display: block;
margin: 25px 0;
}
.ogloszenie_zobacz .content {
    padding:35px;
}
.ads {
    background-image: url(../img/reklama.png);
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    width:100%;
    height:500px;
    margin: 25px 0;
}

input.gray-input {
    margin: 10px 0 !important;
    color:#667785 !important;
    
    border: 2px solid #d1dbe4 !important;
    /* border: 2px solid #667785 !important; */
}
.gray-input::placeholder {
    color: #667785;
}
.logowanie {
    background: #fff !important;
}
.homepage .section.praca-row, .ogloszenia_kategoria .section.praca-row  {
    background: #f2f2f0;
}
.current .steep-legend {
    color: #03c784;
    text-transform: uppercase;
    font-size: 0.9rem;
}
   .ogloszenia_create {
        /* background-size: contain; */
        background-image: url(../img/krok1_bg.png);
        background-position: top left;
        background-repeat: no-repeat;
    }
   .ogloszenia_kategoria .praca-section {
flex-direction: row-reverse
    }
    .ogloszenia_kategoria .oferty-pracy {
    padding: 20px 20px 20px 32px;
    }
    .ogloszenia_kategoria .list_header, .ogloszenie_zobacz .list_header {
        margin: 0 -15px;
         border-radius: 5px;
         padding: 25px;
    }
 .zmien_miasta + .select2 {
     text-transform: lowercase !important;
 }
 .filtry .inline-list.row li:hover {
    background: #eee !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.green-title {
    text-align: center;
margin: 25px 0 0 0;
font-size: 2.5rem;
font-weight: bold;
color: #04c785;
}
.more {
    margin: 50px auto 0 auto;
display: block;
background: #fff !important;
box-shadow: 0px 0px 30px rgba(0,0,0,0.25) !important;
border-radius: 10px;
padding: 5px 0;
color: #000;
height: auto;
}
.ogloszenia_kategoria .praca-row .row.white {
    padding-bottom: 25px;
    width:100%;
}
.ogloszenia_wojewodztwo_name {
    background: #fff;
color: #000;
display: table;
padding: 3px;
border-radius: 5px;
position: absolute;
right: 10px;
top: 10px;
}
.homepage .praca-row .row.white {
    padding: 25px 0;
}
.ogloszenia_kategoria .praca-section {
height:640px;
}
.ogloszenia_create.krok1 .zaloguj_box, 
.ogloszenia_create.krok1 .zarejestruj_box {
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.15);
    border-radius: 20px;
}
.ogloszenia_create.krok1 .zarejestruj_box
{
    margin-top: 50px;
}
.ogloszenia_create.krok2 {
    background-image: url(../img/krok2_bg.png);
}
.ogloszenia_create.krok3 {
    background-image: url(../img/krok3_bg.png);
}
.ogloszenia_create.krok4 {
    background-image: url(../img/krok4_bg.png);
}

.lokalizacja h6 {
    font-weight: bold;
font-size: 1.25rem;
margin: 25px 0 0 0;
}
.home_seo {
background-image: url(../img/home_seo.png);
background-position: 120% 0%;
background-repeat: no-repeat;
background-size: 60%;
padding: 50px 0;
min-height: 700px;
}
.home_seo * {
    text-align: left;
    font-size: 18px;
}
.select2-container--default .select2-selection--single {
    border-radius: 7px !important;
}
.ogloszenie_zobacz .lista {
    margin-top: -50px;
}
