/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.breadcrumb {
  padding: 25px 25px 0 25px;
  color: #000;
}
.breadcrumb-item::before {
    content: "/";
    padding: 0 5px;
}
.breadcrumb-item:nth-child(1)::before {
    content: "";
    padding: 0 5px;
}
.ogloszenie_zobacz .praca-section > div {
  overflow: hidden;
}
.ogloszenie_zobacz .oferty-pracy {
  height: auto;
  max-height: 300px;
  padding: 20px;
}
.breadcrumb-item {
    color: #000;
}