﻿<link rel="stylesheet" href="../css/bootstrap.min.css">

<div style="text-align:center;background:#fbfbfb;width:100%;padding:25px 0;">
    <img src="../img/logo.png" style="width:250px;" />
</div>
<div class="container">

    <h1 style="margin:50px 0 20px 0;display:block;text-align:center;">Przesłano podanie o pracę</h1>
    <div style="height: 5px;max-width:25%;background-color: #4dc083;margin:auto;">
    </div>
    <div class='card' style="border:0px;border-radius:0px;width:85%;margin:20px auto;display:block;">
        <div class='card-body'>
            <div style="text-align:center;width:100%;display:block;margin:25px 0;">

                <h2>Dane kandydata</h2>
                <div style="display: inline-block;width:100%;">
                            <strong>Imię i nazwisko</strong>
                </div>
                <div style="display: inline-block;width:100%;">
                    {{$imie}}
                </div>

                <div style="display: inline-block;width:100%;">
                    <strong>
                            E-mail
                            </strong>
                </div>
                <div style="display: inline-block;width:100%;">
                            {{$user_email}}
                </div>

                </table>

                <a href="{{asset('documents/'.$zalacznik)}}" target="_blank" class="btn btn-primary btn-lg"
                    style="margin: 25px 0 0 0;background: #4dc083;border-radius: 0;border: 0;padding: 20px;">Zobacz CV</a>
            </div>
        </div>
    </div>
</div>
    <div style="width:100%;clear:both;text-align:center;background:#eee;padding:5px 0;">
        Pozdrawiam,<br>
        {{config('custom.nazwa_firmy')}}<br />
        {{config('custom.adres_firmy')}}<br />
        {{config('custom.kod_firmy')}} {{config('custom.miejscowosc_firmy')}}<br />
        {{config('custom.kraj_firmy')}}<br />
    </div>