﻿<link rel="stylesheet" href="../css/bootstrap.min.css">

<div style="text-align:center;background:#fbfbfb;width:100%;padding:25px 0;">
    <img src="../img/logo.png" style="width:250px;" />
</div>
<div class="container">

    <h1 style="margin:50px 0 20px 0;display:block;text-align:center;">Dodano ogłoszenie</h1>
    <div style="height: 5px;max-width:25%;background-color: #4dc083;margin:auto;">
    </div>
    <div class='card' style="border:0px;border-radius:0px;width:85%;margin:20px auto;display:block;">
        <div class='card-body'>
            <div style="text-align:center;width:100%;display:block;margin:25px 0;">

                <h2>Szczegóły ogłoszenia</h2>
                <table class="table table-responsive">
                    <tr>
                        <td>
                            Wymiar pracy
                        </td>
                        <td>

                            @foreach(App\Http\Controllers\Controller::getWymiarPracy($ogloszenie_mail['id_wymiar_pracy'])
                            as
                            $wymiar)
                            {{$wymiar->nazwa}}
                            @endforeach
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Specjalizacja
                        </td>
                        <td>
                            {{App\Http\Controllers\Controller::getSpecjalizacje($ogloszenie_mail['id_specjalizacje'])}}
                        </td>
                    </tr>
                    <tr>
                        <td>Stanowisko</td>
                        <td>

                            {{App\Http\Controllers\Controller::getPoziom($ogloszenie_mail['id_poziom'])->nazwa}}
                        </td>
                    </tr>
                    <tr>
                        <td>Wynagrodzenie</td>
                        <td>
                            {{$ogloszenie_mail['wynagrodzenie_od']}}
                            @if($ogloszenie_mail['wynagrodzenie_do'] != '')
                            - {{$ogloszenie_mail['wynagrodzenie_do']}}
                            @endif
                        </td>
                    </tr>
                    <tr>
                        <td>Rodzaj umowy</td>
                        <td>
                            @foreach(App\Http\Controllers\Controller::getRodzajUmowy($ogloszenie_mail['id_rodzaj_umowy'])
                            as
                            $rodzaj_umowy)
                            {{$rodzaj_umowy->nazwa}}
                            @endforeach
                        </td>
                    </tr>
                    <tr>
                        <td>Treść</td>
                        <td>
                            {{$ogloszenie_mail['tresc']}}
                        </td>
                    </tr>
                    <tr>
                        <td>Podmiot</td>
                        <td>
                            {{App\Http\Controllers\Controller::getPodmiot($ogloszenie_mail['id_podmiot'])}}

                        </td>
                    </tr>
                </table>

                <a href="{{route('ogloszenia_zobacz',['id'=>$ogloszenie_mail['id_ogloszenie'], 'nazwa'=>str_slug(App\Http\Controllers\Controller::getOgloszenie($ogloszenie_mail['id_ogloszenie'])->nazwa)])}}"
                    target="_blank" class="btn btn-primary btn-lg" style="    margin: 25px 0 0 0;background: #4dc083;border-radius: 0;border: 0;padding: 20px;">Zobacz
                    ogłoszenie</a>
            </div>
        </div>
    </div>

    
</div>
<div style="width:100%;clear:both;text-align:center;background:#eee;padding:5px 0;">
    Pozdrawiam,<br>
    {{config('custom.nazwa_firmy')}}<br />
    {{config('custom.adres_firmy')}}<br />
    {{config('custom.kod_firmy')}} {{config('custom.miejscowosc_firmy')}}<br />
    {{config('custom.kraj_firmy')}}<br />
</div>