﻿<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">

<div style="text-align:center;background:#fff;width:100%;padding:25px 0;">
    <img src="{{asset('frontend/img/logo-color.png')}}" />
</div>
<div class="container">

    <h1 style="margin:50px 0;display:block;text-align:center;">Przesłano podanie o pracę</h1>
    <div class='card' style="border:0px;border-radius:0px;width:85%;margin:20px auto;display:block;">
        <div class='card-body'>
            <div style="text-align:center;width:100%;display:block;margin:25px 0;">

                <h2>Dane kandydata</h2>
                <table class="table table-responsive">
                    <tr>
                        <td>
                            Imię i nazwisko
                        </td>
                        <td>
                            {{$imie}}
                        </td>
                    </tr>


                    <tr>
                        <td>
                            E-mail
                        </td>
                        <td>
                            {{$user_email}}
                        </td>
                    </tr>

                </table>

                <a href="{{asset('documents/'.$zalacznik)}}" target="_blank" class="btn btn-primary btn-lg"
                    style="margin:25px 0 0 0;">Zobacz CV</a>
            </div>
        </div>
    </div>

    <div style="width:100%;clear:both;text-align:center;">
        Pozdrawiam,<br>
        {{config('custom.nazwa_firmy')}}<br />
        {{config('custom.adres_firmy')}}<br />
        {{config('custom.kod_firmy')}} {{config('custom.miejscowosc_firmy')}}<br />
        {{config('custom.kraj_firmy')}}<br />
    </div>
</div>